<h1>Games</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td><%=game.name %></td>
    <td><%=game.rating %></td>
    <td><%=link_to "Show", game_path(game)%></td>
  </tr>
  <% end %>
</table>
